In [1]:
print("Hello, World!")

Hello, World!

In [2]:
x = 5
y = "Hima"
print(x)
print(y)

5
Hima

In [4]:
x = str(5)    # x will be '3'
y = int(5)    # y will be 3
z = float(5)  # z will be 3.0

In [5]:
x = 5
y = "Hima"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [6]:
x = "Hima"
# is the same as
x = 'Hima'
x=3
print(x)

3

In [ ]:
a = 3
A = "Sally"
#A will not overwrite a

In [7]:
myvar = "Hima"
my_var = "Hima"
_my_var = "Hima"
myVar = "Hima"
MYVAR = "Hima"
myvar2 = "Hima"

In [8]:
x, y, z = "Mango", "Banana", "Cherry"
print(x)
print(y)
print(z)

Mango
Banana
Cherry

In [9]:
x = y = z = "Mango"
print(x)
print(y)
print(z)

Mango
Mango
Mango

In [10]:
#list
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [11]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [12]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'apple', 2, 'cherry', True, 'banana'}

In [13]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [15]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1934
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1934}

In [16]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [17]:
x = 5
y = "Hima"
print(x, y)

5 Hima

In [18]:
import sys

print(sys.version)

3.10.12 (main, Sep 11 2024, 15:47:36) [GCC 11.4.0]

In [19]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [21]:
if 5 > 1:
 print("Five is greater than one!")
 if 5 > 3:
        print("Five is greater than three!")

Five is greater than one!
Five is greater than three!

In [23]:
a = 44
b = 44
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [24]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [25]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [26]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [27]:
for x in range(7):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
6
Finally finished!

In [30]:
y = "awesome"

def myfunc():
  print("Python is " + y)

myfunc()

Python is awesome

In [31]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome